*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: 'Times New Roman', Times, serif;
}

#contenedor{
    background-color: aqua;
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}

article{
    padding-top: 20px;
    column-count: 3;
    column-gap: 20px;
    column-rule: dotted 4px #ccc;
}