*{
    margin: auto;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor{
margin: 60px auto;
width: 700px;
}

table{
    background-color: burlywood;
    text-align: center;
    border: 3px solid black;
}

td,th{
    border: 1px solid black;
    padding: 15px;
}

h1{
    text-align: center;
    padding-top: 50px;
}

h2{
    text-align: center;
}

th:nth-child(even):hover{
    background-color: darkcyan;
}

th{
    background-color: rgb(202, 24, 39);
}

